<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/fragments/layout.html :: head}">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <header th:replace="~{/fragments/layout.html :: header}"></header>
    <article>
        <div class="text-center mt-3">
            <h1>O obchodu</h1>
            <img class="mt-2" th:src="@{/images/eshop.png}" width="400px" alt="eshop">
            <p class="mt-3">Při tvorbě ehopu byl využit progarmovací jazyk Java za pomoci frameworku Spring Boot.</p>
        </div>
    </article>

</body>
</html>