<!doctype html>
<html lang="cs-cz">
<head th:replace="~{/fragments/layout.html :: head}">
</head>
<body>
    <header th:replace="~{/fragments/layout.html :: header}">

    </header>
    <article>
       <div class="text-center">
        <h1>Shop Roku</h1>
        <h2>Vítejte na nejlepším eshopu</h2>
        <p>Pokračujte na stránku O obchodu (kde se dozvíte více info o nás), nebo na stránku produkty (kde si můžete vybrat z naší široké nabídky různých produktů)</p>
       </div>
    </article>

</body>
</html>